__pycache__/
*.py[cod]
.pytest_cache/
.venv/
*.egg-info/
.pytest-tmp/
evaluation/representative_v1/
evaluation/representative_v1_staging/
evaluation/representative_v1.input.tar.gz*
evaluation/representative_v1_cache/
evaluation/phase3_reports/
evaluation/representative_v1_expansion_v1/
evaluation/representative_v1_expansion_v1_staging/
evaluation/representative_v1_expansion_v1_cache/
evaluation/representative_v1_expansion_v1.input.tar.gz*
evaluation/representative_v1_reserve_expansion_v1/
evaluation/representative_v1_reserve_expansion_v1_staging/
evaluation/representative_v1_reserve_expansion_v1_cache/
evaluation/representative_v1_reserve_expansion_v1.input.tar.gz*
